@charset "utf-8";
body{
  width: 100%;
  background-color: lightgoldenrodyellow;
}
h1{
  color: coral;
  text-align: center;
}
a{
  display: block;
  width: 9rem;
  margin: 1rem auto;
}
p{
  text-align: center;
}
input{
  border: 0.1px solid gray;
  display: block;
  margin: 1rem auto;
  background-color: white;
  border-radius: 5px;
  padding: 0 0.2rem;
}
p{
  margin-top: 1rem;
}